$themePrimary: #0078d4;
$themelighteralt: #eff6fc;
$themelighter: #deecf9;
$themelight: #c7e0f4;
$themetertiary: #71afe5;
$themesecondary: #2b88d8;
$themedarkalt: #106ebe;
$themedark: #005a9e;
$themedarker: #004578;
$neutrallighteralt: #f8f8f8;
$neutrallighter: #f4f4f4;
$neutrallight: #eaeaea;
$neutralquaternaryalt: #dadada;
$neutralquaternary: #d0d0d0;
$neutraltertiaryalt: #c8c8c8;
$neutraltertiary: #a6a6a6;
$neutralsecondary: #666666;
$neutralprimaryalt: #3c3c3c;
$neutralprimary: #333;
$neutraldark: #212121;
$black: #1c1c1c;
$white: #fff;
$primarybackground: #fff;
$primarytext: #333;
$bodybackground: #fff;
$bodytext: #333;
$disabledbackground: #f4f4f4;
$disabledtext: #c8c8c8;
